﻿﻿@model Domain.Tournament
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit Tournament", "Edit", new { id = Model.TournamentId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Create Group", "CreateGroup", new { id = Model.TournamentId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Create Date", "CreateDate", new { id = Model.TournamentId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>

<div class="row">
    <div class="col-md-6">
        <h4>Groups</h4>
        @if (Model.Groups.Count == 0)
        {
            <h5>No groups registered yet</h5>
        }
        else
        {
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups.FirstOrDefault().Name)
                    </th>
                    <th>
                        #Teams
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Groups.OrderBy(g => g.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TournamentTeams.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Details", "DetailsGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "DeleteGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete this record');" })
                        </td>
                    </tr>
                }
            </table>

        }
    </div>
    <div class="col-md-6">
        <h4>Dates</h4>
        @if (Model.Dates.Count == 0)
        {
            <h5>No dates registered yet</h5>
        }
        else
        {
            <table class="table table-bordered table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dates.FirstOrDefault().Name)
                    </th>
                    <th>
                        # Matches
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Dates.OrderBy(g => g.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matches.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditDate", new { id = item.DateId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Details", "DetailsDate", new { id = item.DateId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "DeleteDate", new { id = item.DateId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete this record');" })
                        </td>
                    </tr>
                }
            </table>

        }

    </div>
</div>
