﻿@model Domain.Date

@{
    ViewBag.Title = "Index";
}

<h2>Tournament: @Model.Tournament.Name</h2>
<h3>Date: @Model.Name</h3>


<p>
    @Html.ActionLink("Create New", "CreateMatch", new { id = Model.DateId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Date", "Details", new { id = Model.TournamentId }, new { @class = "btn btn-success" })



</p>
@if (Model.Matches.Count == 0)
{
    <h4> No matches added yet </h4>
}
else
{

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().Status.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().TournamentGroup.Name)
            </th>
            <th>
                Local
            </th>
            <th>
                Visitor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().LocalGoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().VisitorGoals)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Matches.OrderBy(m => m.DateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentGroup.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Name)
                    @if (!string.IsNullOrEmpty(item.Local.Logo))
                    {
                        <img src="@Url.Content(item.Local.Logo)" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitor.Name)
                    @if (!string.IsNullOrEmpty(item.Visitor.Logo))
                    {
                        <img src="@Url.Content(item.Visitor.Logo)" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalGoals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitorGoals)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditMatch", new { id = item.MatchId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "DeleteMatch", new { id = item.MatchId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete this record');" })
                </td>
            </tr>
        }

    </table>
}
