﻿﻿@model IEnumerable<Domain.User>
@{
    ViewBag.Title = "Index";
}
<h2>Users</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Team
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.Name)
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        var conc = item.FirstName  + item.LastName;
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.FavoriteTeam.Logo))
                {
                    <img src="@Url.Content(item.FavoriteTeam.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.Name)
                
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td> 
           
            <td>
                @if (!string.IsNullOrEmpty(item.Picture))
                {
                    <img src="@Url.Content(item.Picture)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
